@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');
html
    font-size: 16px
    font-family: "Montserrat"
    font-weight: normal
    font-style: normal
    letter-spacing: normal
    line-height: normal
body
    background: url("../img/body/Background.png") top center/cover no-repeat
.container
        height: 100%
        max-width: 1140px
        position: relative
        margin: 0 auto
@import "./blocks/_reboat"
@import "./blocks/_section"
@import "./blocks/_fonts"
@import "./blocks/_menu"
@import "./blocks/_header"
@import "./blocks/_works"
@import "./blocks/_information"
@import "./blocks/_about"
@import "./blocks/_create"
@import "./blocks/_media"





